<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报名成功</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/lib/materialize.min.css">
    <!--icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body{
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="container">
    <div style="height: 50px;"></div>
    <h5 class="blue-text text-darken-2 center-align col s6 m6 l6 offset-l6">比赛注意事项</h5>
    <div class="row">
        <div class="col s6 m6 l6 offset-l3">
            <blockquote class="z-depth-1" style="padding-top: 5px; padding-bottom: 10px;">
                <div class="flow-text grey-text text-darken-3" style="font-size: 20px">1. 易途杯编程大赛分为个人赛和团队赛。奖项丰富，奖金丰厚。</div>
            </blockquote>

            <blockquote class="z-depth-1" style="padding-top: 5px; padding-bottom: 10px;">
                <div class="flow-text grey-text text-darken-3" style="font-size: 20px" >2. 个人赛分为C/Java/PHP三组，其中C和Java又分为算法组和普通组；
                    个人赛采用上机测试的形式，比赛时间为2018年5月5日。</div>
            </blockquote>

            <blockquote class="z-depth-1" style="padding-top: 5px; padding-bottom: 10px;">
                <div class="flow-text grey-text text-darken-3" style="font-size: 20px">3.
                    团队赛采用自由组队，答辩展示的方式，每队[1-5]人，不限班级专业，
                    根据公布的项目选题自由选择自己组最擅长的项目，完成对应项目的要求并于截止日期参与答辩，由专业评委打分并评出奖项。</div>
            </blockquote>

            <blockquote class="z-depth-1" style="padding-top: 5px; padding-bottom: 10px;">
                <div class="flow-text grey-text text-darken-3" style="font-size: 20px">
                    4. 如需进一步了解，可以入群获取资料或咨询相关工作人员。</div>
            </blockquote>

            <div class="card horizontal hoverable">
                <div class="card-image" style="padding: 0px;">
                    <img src="/static/img/qrcode.jpg" height="259px" width="150px"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content" style="padding: 0px;" >
                        <img src="/static/img/banner4.png" />
                    </div>
                    <div class="card-action" style="padding: 10px; padding-top: 3px;">
                        <a href="#" style="font-size: 18px">QQ群号：745675936</a>
                    </div>
                </div>
            </div>
            <br/><br/><br/>
            <a class="blue-text text-darken-2 waves-effect waves-teal btn-flat right" href="/details">查看个人报名情况</a>
        </div>
    </div>
</div>
</body>
<!--jquery-->
<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="../../static/lib/materialize.min.js"></script>
<script>
    $(document).ready(function(){

    });
</script>
</html>